$default-font: "roboto-example", sans-serif
$c-orange: #ff5c36
$c-gray: #6b6b6b
$bg-gray: #f6f6f6
$shadow: #0b0b0b
$stars: #ffef3b
$bg-footer: #f0f0f0
$bg-logos: #d3d3d3

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
